In [2]:
import sqlite3 as sq

### Connecting to database

In [3]:
con = sq.connect('database.db')
print("database connected successfully")

database connected successfully

In [4]:
con

### Create a table

In [11]:
con.execute('''CREATE TABLE PRODUCT
                (
                    ID INT PRIMARY KEY NOT NULL,
                    NAME  TEXT NOT NULL,
                    PRICE INT NOT NULL,
                    BRAND TEXT NOT NULL,
                    COLOR TEXT NOT NULL
                );
                ''')
print('Table product has been created')

Table product has been created

### INSERT OPERATION

In [17]:
con.execute("INSERT INTO PRODUCT (ID, NAME, PRICE, BRAND, COLOR) \
           VALUES (1,'jersey', 4500, 'gucci',  'blue')")

In [19]:
con.execute("INSERT INTO PRODUCT (ID, NAME, PRICE, BRAND, COLOR) \
           VALUES (2,'boot', 25000, 'nike',  'yellow')")
con.execute("INSERT INTO PRODUCT (ID, NAME, PRICE, BRAND, COLOR) \
           VALUES (3,'laptop', 150000, 'hp',  'black')")
con.execute("INSERT INTO PRODUCT (ID, NAME, PRICE, BRAND, COLOR) \
           VALUES (4,'keyboard', 13400, 'razer',  'grey')")
con.execute("INSERT INTO PRODUCT (ID, NAME, PRICE, BRAND, COLOR) \
           VALUES (5,'bag', 80000, 'louiz vuitton',  'brown')")

In [20]:
con.commit()
print ('product successfully saved')

product successfully saved

### READ OPERATION

In [26]:
allRecords = con.execute("SELECT ID, NAME, PRICE, BRAND, COLOR FROM PRODUCT").fetchall()
allRecords

[(1, 'jersey', 4500, 'gucci', 'blue'),
 (2, 'boot', 25000, 'nike', 'yellow'),
 (3, 'laptop', 150000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]

In [28]:
allRecords = con.execute("SELECT * FROM PRODUCT").fetchall()
allRecords

[(1, 'jersey', 4500, 'gucci', 'blue'),
 (2, 'boot', 25000, 'nike', 'yellow'),
 (3, 'laptop', 150000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]

In [30]:
# read where product brand is louis vuiiton
con.execute("SELECT * FROM PRODUCT where BRAND = 'louiz vuitton'").fetchall()

[(5, 'bag', 80000, 'louiz vuitton', 'brown')]

In [34]:
# read where product brand is louis vuiiton
con.execute("SELECT * FROM PRODUCT where PRICE > 50000").fetchall()

[(3, 'laptop', 150000, 'hp', 'black'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]

### Update operation

In [36]:
con.execute("UPDATE PRODUCT set PRICE = 250000 where id = 3")
con.commit()
print("updated hp price from 150000 to 250000")

updated hp price from 150000 to 250000

In [37]:
con.execute("SELECT * FROM PRODUCT").fetchall()

[(1, 'jersey', 4500, 'gucci', 'blue'),
 (2, 'boot', 25000, 'nike', 'yellow'),
 (3, 'laptop', 250000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]

### delete operation

In [39]:
# delete where id =2 record
con.execute("DELETE from PRODUCT where id = 2")
con.commit()

In [40]:
con.execute("SELECT * FROM PRODUCT").fetchall()

[(1, 'jersey', 4500, 'gucci', 'blue'),
 (3, 'laptop', 250000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]